name: Flutter Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.7'

      - name: Print Flutter version
        run: flutter --version

      - name: Create Flutter project
        run: |
          flutter create flutter_so
          cd flutter_so
          flutter pub get

      - name: Build apk for arm64 and armeabi-v7a
        run: |
          cd flutter_so
          flutter build apk --release --target-platform android-arm,android-arm64

      - name: List build output
        run: |
          cd flutter_so/build
          find . -name "*.apk"

      - name: Upload release APK
        uses: actions/upload-artifact@v4
        with:
          name: flutter_release_apk
          path: flutter_so/build/app/outputs/flutter/release/app-release.apk
